{
    "env": {
        "development": {
            "presets": ["react"],
            "plugins": [
                ["import", { "libraryName": "antd", "style": true }],
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-object-rest-spread"
            ]
        },
        "development.hot": {
            "presets": ["react"],
            "plugins": [
                ["import", { "libraryName": "antd", "style": true }],
                "transform-class-properties",
                "transform-es2015-classes",
                "transform-object-rest-spread",
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "presets": ["react", ["env", { modules: false }]],
            "plugins": [
                ["import", { "libraryName": "antd", "style": true }],
                "transform-object-rest-spread"
            ]
        }
    }
}
