@import 'assets/css/variables.scss';

.select-container{
    margin-top: 22px;
    color: $brand-color;
    font-size: 17px;
    margin-bottom: 18px;
    padding: 0 $content-padding;

    & .week-select{
        height: 23px;
        min-width: 44px;
        font-size: 17px;
        border: 1px solid $border-color;
        display: inline-block;
        text-align: center;
        color: $brand-color;
        border-radius: 5px;
    }
}
