@import 'assets/css/variables.scss';

$brand-color: #FEB6B9;

.mam-content-container{
    display: flex;

    & .tabBar{
        flex-shrink: 0;
        list-style-type: none;
        width: 72px;
        overflow-y: scroll;
        border-right: 1px solid $border-color;
        max-height: 90vh;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar{
            display:none;
        }

        & li{
            height: 80px;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            & > a{
                display: block;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                & p{
                    margin-top: 10px;

                    &.active{
                        color: $brand-color;
                    }
                }

                & div{
                    width: 23px;
                    height: 23px;

                    &.icon1{
                        background: url(~assets/images/know_icon_1.png) no-repeat;
                        background-size: 100% 100%;

                        &.active{
                            background: url(~assets/images/know_icon_1HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon2{
                        background: url(~assets/images/know_icon_2.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_2HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon3{
                        background: url(~assets/images/know_icon_3.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_3HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon4{
                        background: url(~assets/images/know_icon_4.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_4HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon5{
                        background: url(~assets/images/know_icon_5.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_5HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon6{
                        background: url(~assets/images/know_icon_6.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_6HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon7{
                        background: url(~assets/images/know_icon_7.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_7HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon8{
                        background: url(~assets/images/know_icon_8.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_8HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon9{
                        background: url(~assets/images/know_icon_9.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_9HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon10{
                        background: url(~assets/images/know_icon_10.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_10HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    &.icon11{
                        background: url(~assets/images/know_icon_11.png) no-repeat;
                        background-size: 100% 100%;
                        &.active{
                            background: url(~assets/images/know_icon_11HL.png) no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }
            }
        }
    }

    & .content{
        max-height: 90vh;
        overflow-y: scroll;
        flex-grow: 1;
        -webkit-overflow-scrolling: touch;
        padding: 22px 14px;

        &::-webkit-scrollbar{
            display:none;
        }

        & .title{
            color: $brand-color;
            margin-bottom: 12px;
        }

        & ul{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            & li{
                flex-shrink: 0;
                width: 124px;
                height: 28px;
                border: 1px solid $border-color;
                border-radius: 5px;
                text-align: center;
                line-height: 28px;
                font-size: 13px;
                margin-bottom: 10px;
            }
        }
    }
}