$bg-color: #F6F7F8;
$brand-color: #75C5C2;

$border-color: #CFCFCF;

$text-color: #333;
$text-second-color: #666;
$text-gray-color: #999;

$content-padding: 16px;

$z-index-1: 10;
$z-index-2: 100;
$z-index-3: 1000;
