@import 'assets/css/variables.scss';

$brand-color: #FEB6B9;

.mam-container{
    background: #FFF;

    & > .tabBarIndex{
        width: 100%;
        margin-top: 40px;
        display: flex;
        font-size: 16px;
        border-bottom: 1px solid $border-color;
        position: fixed;
        z-index: 10;
        background-color: #FFF;

        & .active-bar{
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 48px;
            background-color: $brand-color;
        }

        & li{
            height: 42px;
            flex-grow: 1;
            text-align: center;
            line-height: 42px;
        }
    }
}