@import 'assets/css/variables.scss';

.ultrasound-table{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & .ulstrasound-item{
        min-width: 103px;
        height: 28px;
        margin-top: 10px;
        padding: 0 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        color: $text-second-color;
        flex-shrink: 0;
    }
}