@import 'assets/css/variables.scss';

.ultrasound-indicator{
    padding: $content-padding;

    & > h1{
        font-size: 14px;
        font-weight: normal;
        color: $brand-color;
    }

    & > ul{
        & > li{
            display: flex;
            margin-top: 15px;

            & em{
                font-size: 14px;

                &.separator{
                    color: $brand-color;
                    padding-right: 25px;
                }
            }

            & > .box{
                width: 50%;
                flex-shrink: 0;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}